* {
    font-size: 25px;
    font-family: "Roboto", serif;

}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background: lightpink;
}

.navbar__links {
    text-decoration: none;
    color: black;
    margin: auto;
}

.navbar__links:hover {
    text-decoration: none;
    color: white;
    margin: auto;
}

.btn-group-vertical {
    justify-content: center;
}

.btn {
    background: peachpuff;
    color: black;
    border: none;
    border-radius: 0;
}

.btn:hover {
    background: pink;
    color: white;
}




